body{
    overflow-x:hidden;
}
head, header, .services, .about, .contact, .portfolio, .faq{
    overflow-x: hidden;
    overflow-y: hidden;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url("../assets/uploads/AVI08227.jpg") top right no-repeat;
    background-size: cover;
    position: relative;    
  }

  
 
  
  #hero:before {
    content: "";
    background: #72D6FE;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero h1 {
    margin: 0;
    font-size: 84px;
    font-weight: 700;
    line-height: 56px;
    color: #45505b;
  }
  #hero h2{
    font-size: 35px;
  }
  
  
  @media (max-width: 992px) {
    #hero {
      text-align: center;
    }
  }
  

#hero #link, #link-2{
    text-decoration: none;
}
#hero #link:hover{
color:#000;
}


#social-link{
    font-size: 40px;
    border-radius: 99%; 
}
#social-link i:hover , #social-link-2 i:hover{
    color:#fff;
}
#social-link-2{

    font-size: 40px;

}
#social-link:hover{
opacity: 0.8;
background-color: #000;
}


#p-ab{
    position: absolute;
    height: 100%;
}
#p-ab h1{
    font-size:90px;
    font-family: Roboto;
}
#p-ab h2{
    font-size:50px;
    font-family: Roboto;
    color:#fff;
}


#section-title::after{
    content: "";
    display: block;
    width: 70px;
    height: 10px;
    background: #72D6FE;
    bottom: 0;
    color:#fff;
}


#ac-outline{
    background: none;
}

#process{
    font-size: 60px;
}

#form-input{
    background:none;
}


#text-gradient{
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*--------------------------------------------------------------
# whatsapp button
--------------------------------------------------------------*/
.whatsapp {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    left: 15px;
    bottom: 15px;
    z-index: 996;
    background: #72D6FE;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    transition: all 0.4s;
  }

  .whatsapp i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .whatsapp:hover {
    background: #72D6FE;
    color: #fff;
  }
  
  .whatsapp.active {
    visibility: visible;
    opacity: 1;
  }
  .scrollspy-example {
    height: 300px;
  }
/*--------------------------------------------------------------
# portfolio
--------------------------------------------------------------*/

  
  .portfolio .box {
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background: #fefefe;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
  }
  
  .portfolio .box h3 {
    font-weight: 400;
    padding: 15px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #282828;
  }
  
  .portfolio .box h4 {
    font-size: 42px;
    color: #72D6FE;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
  }
  
  .portfolio .box h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }
  
  .portfolio .box h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
  }
  
  .portfolio .box ul {
    padding: 20px 0;
    list-style: none;
    color: #282828;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }
  

  .portfolio .box .btn-wrap {
    padding: 15px;
    text-align: center;
  }
  
  .portfolio .box .btn-buy {
    display: inline-block;
    padding: 10px 40px 12px 40px;
    border-radius: 50px;
    border: 2px solid #72D6FE;
    color: #72D6FE;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .portfolio .box .btn-buy:hover {
    background: #72D6FE;
    color: #fff;
  }
  
  .portfolio .recommended {
    border-color: #72D6FE;
  }
  
  .portfolio .recommended .btn-buy {
    background: #72D6FE;
    color: #fff;
  }
  
  .portfolio .recommended .btn-buy:hover {
    background: #72D6FE;
    border-color: #72D6FE;
  }
  
  .portfolio .recommended-badge {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 13px;
    padding: 3px 25px 6px 25px;
    background: #edfbf0;
    color: #72D6FE;
    border-radius: 50px;
  }
  
#best-sellers{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(114,214,254,1) 35%, rgba(0,212,255,1) 100%);

  min-height: 80vh;
  clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
  
}





  #image-border{
    border: 1px solid #72D6FE;
    border-bottom: 5px solid #72D6FE  ;
  }


  .TopTitle {
    padding: 0 0 30px;
    text-align: center;
  }
  .FirstTitle {
    font-size: 40px;
    color: #fff;
  }
  .secTitle {
    color: #ffeb3b;
    font-size: 60px
  }
  
  .ag-timeline_item {
    margin: 0 0 50px;
    position: relative;
  }
  .ag-timeline_item:nth-child(2n) {
    text-align: right;
  }
  
  .ag-timeline {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .ag-timeline_line {
    width: 8px;
    background-color: #393935;
    position: absolute;
    top: 2px;
    left: 50%;
    bottom: 0;
    overflow: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .ag-timeline_line-progress {
    width: 100%;
    height: 20%;
    background-color: #72D6FE;
  }
  
  .ag-timeline-card_box {
    padding: 0 0 20px 50%;
  }
  
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 50% 20px 0;
  }
  
  .ag-timeline-card_point-box {
    display: inline-block;
    margin: 0 14px 0 -28px;
  }
  
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 -28px 0 14px;
  }
  
  .ag-timeline-card_point {
    height: 50px;
    line-height: 50px;
    width: 50px;
    border: 3px solid #72D6FE;
    background-color: #1d1d1b;
    text-align: center;
    font-family: 'ESL Legend', sans-serif;
    font-size: 20px;
    color: #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  .js-ag-active .ag-timeline-card_point {
    color: #1d1d1b;
    background-color: #72D6FE;
  }
  
  .ag-timeline-card_meta-box {
    display: inline-block;
  }
  
  .ag-timeline-card_meta {
    margin: 10px 0 0;
    font-family: 'ESL Legend', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #72D6FE;
  }
  
  .ag-timeline-card_item {
    display: inline-block;
    width: 45%;
    margin: -77px 0 0;
    background-color: #72D6FE;
    opacity: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    -o-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    -webkit-transition: -webkit-transform .5s, opacity .5s;
    -moz-transition: -moz-transform .5s, opacity .5s;
    -o-transition: -o-transform .5s, opacity .5s;
    transition: transform .5s, opacity .5s;
    position: relative;
  }
  
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
  }
  
  .js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
  .js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  
  .ag-timeline-card_arrow {
    height: 18px;
    width: 18px;
    margin-top: 20px;
    background-color: #72D6FE;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    margin-left: calc(-18px / 2);
    margin-right: calc(-18px / 2);
  }
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
    margin-left: -10px;
    right: auto;
    left: 0;
  }
  
  .ag-timeline-card_img {
    width: 100%;
    border: 1px solid #72D6FE;
  }
  
  /*--- Responsive Code ---*/
  @media only screen and (max-width: 979px) {
    .ag-timeline_line {
    left: 30px;
    }
  
    .ag-timeline_item:nth-child(2n) {
    text-align: left;
    }
  
    .ag-timeline-card_box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 0 20px;
    }
    
    .ag-timeline-card_meta-box {
      display: none;
    }
    
    .ag-timeline-card_point-box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
      margin: 0 0 0 8px;
    }
    
    .ag-timeline-card_point {
      height: 40px;
      line-height: 40px;
      width: 40px;
    }
    
    .ag-timeline-card_item {
      width: auto;
      margin: -65px 0 0 75px
    }
    
    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
      -webkit-transform: translateX(200%);
      -moz-transform: translateX(200%);
      -ms-transform: translateX(200%);
      -o-transform: translateX(200%);
      transform: translateX(200%);
    }
    
    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
      right: auto;
      left: 0;
    }
    
    .ag-timeline-card_arrow {
      margin-top: 12px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .Container {
      width: 96%;
    }
  
    .ag-timeline-card_img {
      height: auto;
      width: auto;
    }
  }
  
  @media only screen and (max-width: 639px) {
    .secTitle {
      font-size: 60px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 979px) {
    .Container {
      width: 750px;
    }
  }
  
  @media (min-width: 980px) and (max-width: 1161px) {
    .Container {
      width: 960px;
    }
  }
  /*--- Responsive Code End ---*/
  