body{
    overflow-x:hidden;
}
head, header, .services, .about, .contact, .portfolio, .faq{
    overflow-x: hidden;
    overflow-y: hidden;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url("../assets/uploads/AVI08227.jpg") top right no-repeat;
    background-size: cover;
    position: relative;
  }
  
 
  
  #hero:before {
    content: "";
    background: #72D6FE;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero h1 {
    margin: 0;
    font-size: 84px;
    font-weight: 700;
    line-height: 56px;
    color: #45505b;
  }
  #hero h2{
    font-size: 35px;
  }
  
  
  @media (max-width: 992px) {
    #hero {
      text-align: center;
    }
  }
  

#hero #link, #link-2{
    text-decoration: none;
}
#hero #link:hover{
color:#000;
}


#social-link{
    font-size: 40px;
    border-radius: 99%; 
}
#social-link i:hover , #social-link-2 i:hover{
    color:#fff;
}
#social-link-2{

    font-size: 40px;

}
#social-link:hover{
opacity: 0.8;
background-color: #000;
}


#p-ab{
    position: absolute;
    height: 100%;
}
#p-ab h1{
    font-size:90px;
    font-family: Roboto;
}
#p-ab h2{
    font-size:50px;
    font-family: Roboto;
    color:#fff;
}


#section-title::after{
    content: "";
    display: block;
    width: 70px;
    height: 10px;
    background: #72D6FE;
    bottom: 0;
    color:#fff;
}


#ac-outline{
    background: none;
}

#process{
    font-size: 60px;
}

#form-input{
    background:none;
}



/*--------------------------------------------------------------
# whatsapp button
--------------------------------------------------------------*/
.whatsapp {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    left: 15px;
    bottom: 15px;
    z-index: 996;
    background: #72D6FE;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    transition: all 0.4s;
  }

  .whatsapp i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .whatsapp:hover {
    background: #72D6FE;
    color: #fff;
  }
  
  .whatsapp.active {
    visibility: visible;
    opacity: 1;
  }


/*--------------------------------------------------------------
# portfolio
--------------------------------------------------------------*/

  
  .portfolio .box {
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background: #fefefe;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
  }
  
  .portfolio .box h3 {
    font-weight: 400;
    padding: 15px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #282828;
  }
  
  .portfolio .box h4 {
    font-size: 42px;
    color: #72D6FE;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
  }
  
  .portfolio .box h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }
  
  .portfolio .box h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
  }
  
  .portfolio .box ul {
    padding: 20px 0;
    list-style: none;
    color: #282828;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }
  

  .portfolio .box .btn-wrap {
    padding: 15px;
    text-align: center;
  }
  
  .portfolio .box .btn-buy {
    display: inline-block;
    padding: 10px 40px 12px 40px;
    border-radius: 50px;
    border: 2px solid #72D6FE;
    color: #72D6FE;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .portfolio .box .btn-buy:hover {
    background: #72D6FE;
    color: #fff;
  }
  
  .portfolio .recommended {
    border-color: #72D6FE;
  }
  
  .portfolio .recommended .btn-buy {
    background: #72D6FE;
    color: #fff;
  }
  
  .portfolio .recommended .btn-buy:hover {
    background: #72D6FE;
    border-color: #72D6FE;
  }
  
  .portfolio .recommended-badge {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 13px;
    padding: 3px 25px 6px 25px;
    background: #edfbf0;
    color: #72D6FE;
    border-radius: 50px;
  }
  
